<h1>
  <button (click)="onClick()" class="btn" id="add_node_button"><a>Add Node</a></button>
  <button class="btn" id="go_to_doc_button"><a href="doc" target="_blank" >Operation document</a></button>
</h1>
<div id="canvas">
  <svg class="graphdiagram" id="d3graph" width="100%" height="800" viewBox="-500, -550, 1000, 1050">

  </svg>
</div>
<div class="modal hide pop-up-editor node" tabindex="-1">
  <div class="modal-header">
    <h3>Edit Node</h3>
  </div>
  <div class="top-right-btn-bar">
    <button class="btn btn-danger" id="edit_node_delete">Delete</button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="node_caption">Label</label>
        <div class="ui-widget">
          <input id="node_caption" type="text" autocomplete="on" (keyup)="labelChanged($event)" autofocus="autofocus">
        </div>
      </div>
      <div class="control-group" hide="true">
        <label class="control-label" for="node_properties">Property</label>
        <div class="controls">
          <textarea id="node_properties" rows="6" autocomplete="on"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel" id="edit_node_cancle">Cancel</a>
    <a href="#" class="btn btn-primary" id="edit_node_save">Save</a>
  </div>
</div>
<div class="modal hide pop-up-editor relationship" tabindex="-1">
  <div class="modal-header">
    <h3>Edit Relationship</h3>
  </div>
  <div class="top-right-btn-bar">
    <button class="btn" id="edit_relationship_reverse">Reverse</button>
    <button class="btn btn-danger" id="edit_relationship_delete">Delete</button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="relationship_type">Predicate</label>
        <div class="controls">
          <input id="relationship_type" type="text" value="" (keyup)="predicateChanged($event)" autofocus="autofocus">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="relationship_properties">Remarks</label>
        <div class="controls">
          <textarea id="relationship_properties" rows="6"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel" id="edit_relationship_cancle">Cancel</a>
    <a href="#" class="btn btn-primary" id="edit_relationship_save">Save</a>
  </div>
</div>
